<ion-content padding>
  <div class="middle">
    <div class="dot-container">
      <div class="round-container animated infinite bounce delay-2s">
          <div class="small-circle"></div>
          <div class="cross">
            <div class="vr"></div>
            <hr/>
          </div>
          <img src="assets/icon/AllInNight.png"/>
          <a class="social-network-icon corner-top-left" href="{{ backConnectorURL }}/auth/google"><img src="assets/img/google_plus.png"/></a>
          <a class="social-network-icon corner-top-right" href="{{ backConnectorURL }}/auth/facebook"><img src="assets/img/facebook.png"/></a>
          <a class="social-network-icon corner-bottom-left" href="{{ backConnectorURL }}/auth/instagram"><img src="assets/img/instagram.png"/></a>
          <a class="social-network-icon corner-bottom-right" href="{{ backConnectorURL }}/auth/twitter"><img src="assets/img/twitter.png"/></a>
      </div>
    </div>
  </div>
</ion-content>
